*.pyc
*~
.cache/
.sass-cache
/bin
/emails/
/lib
/share
__pycache__
node_modules
npm-debug.log
pyvenv.cfg
root/nginx/local.conf
settings/local.py
webpack/manage/emails
webpack/manage/www
webpack/public/emails
webpack/public/www
static-assets.json
nginx_static/assets
nginx_static/sitemap.xml
venv
local_assets
settings/*/local.py
